@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.2985 0.1203 259.779);
  --card: oklch(0.9816 0.0017 247.839);
  --card-foreground: oklch(0.2985 0.1203 259.779);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2985 0.1203 259.779);
  --primary: oklch(0.2985 0.1203 259.779);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.6991 0.1971 11.1943);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.9632 0.0034 247.8585);
  --muted-foreground: oklch(0.4276 0.0147 248.1715);
  --accent: oklch(0.7752 0.1362 9.3358);
  --accent-foreground: oklch(0.2985 0.1203 259.779);
  --destructive: oklch(0.6494 0.2378 19.4215);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9109 0.007 247.9014);
  --input: oklch(0.9417 0.0052 247.879);
  --ring: oklch(0.2985 0.1203 259.779);
  --chart-1: oklch(0.2985 0.1203 259.779);
  --chart-2: oklch(0.6991 0.1971 11.1943);
  --chart-3: oklch(0.7752 0.1362 9.3358);
  --chart-4: oklch(0.4296 0.1861 261.0407);
  --chart-5: oklch(0.8422 0.09 7.0366);
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.2985 0.1203 259.779);
  --sidebar-primary: oklch(0.2985 0.1203 259.779);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9632 0.0034 247.8585);
  --sidebar-accent-foreground: oklch(0.2985 0.1203 259.779);
  --sidebar-border: oklch(0.9417 0.0052 247.879);
  --sidebar-ring: oklch(0.2985 0.1203 259.779);
  --font-sans: AR One Sans, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #000000;
  --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0px 4px 10px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow:
    0px 4px 10px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0px 4px 10px 0px hsl(0 0% 0% / 0.1), 0px 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0px 4px 10px 0px hsl(0 0% 0% / 0.1), 0px 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0px 4px 10px 0px hsl(0 0% 0% / 0.1), 0px 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: -0.01em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1824 0.0629 256.2427);
  --foreground: oklch(0.9816 0.0017 247.839);
  --card: oklch(0.2399 0.0866 257.4011);
  --card-foreground: oklch(0.9816 0.0017 247.839);
  --popover: oklch(0.2399 0.0866 257.4011);
  --popover-foreground: oklch(0.9816 0.0017 247.839);
  --primary: oklch(0.6991 0.1971 11.1943);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.2985 0.1203 259.779);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.2985 0.1203 259.779);
  --muted-foreground: oklch(0.7692 0.0145 248.0166);
  --accent: oklch(0.7752 0.1362 9.3358);
  --accent-foreground: oklch(0.1824 0.0629 256.2427);
  --destructive: oklch(0.6494 0.2378 19.4215);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.3462 0.1395 259.7748);
  --input: oklch(0.3462 0.1395 259.7748);
  --ring: oklch(0.6991 0.1971 11.1943);
  --chart-1: oklch(0.6991 0.1971 11.1943);
  --chart-2: oklch(0.2985 0.1203 259.779);
  --chart-3: oklch(0.7752 0.1362 9.3358);
  --chart-4: oklch(0.6728 0.1741 258.5112);
  --chart-5: oklch(0.8422 0.09 7.0366);
  --sidebar: oklch(0.2399 0.0866 257.4011);
  --sidebar-foreground: oklch(0.9816 0.0017 247.839);
  --sidebar-primary: oklch(0.6991 0.1971 11.1943);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.2985 0.1203 259.779);
  --sidebar-accent-foreground: oklch(0.9816 0.0017 247.839);
  --sidebar-border: oklch(0.3462 0.1395 259.7748);
  --sidebar-ring: oklch(0.6991 0.1971 11.1943);
  --font-sans: AR One Sans, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 12px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.4;
  --shadow-color: #000000;
  --shadow-2xs: 0px 4px 12px 0px hsl(0 0% 0% / 0.2);
  --shadow-xs: 0px 4px 12px 0px hsl(0 0% 0% / 0.2);
  --shadow-sm:
    0px 4px 12px 0px hsl(0 0% 0% / 0.4), 0px 1px 2px -1px hsl(0 0% 0% / 0.4);
  --shadow:
    0px 4px 12px 0px hsl(0 0% 0% / 0.4), 0px 1px 2px -1px hsl(0 0% 0% / 0.4);
  --shadow-md:
    0px 4px 12px 0px hsl(0 0% 0% / 0.4), 0px 2px 4px -1px hsl(0 0% 0% / 0.4);
  --shadow-lg:
    0px 4px 12px 0px hsl(0 0% 0% / 0.4), 0px 4px 6px -1px hsl(0 0% 0% / 0.4);
  --shadow-xl:
    0px 4px 12px 0px hsl(0 0% 0% / 0.4), 0px 8px 10px -1px hsl(0 0% 0% / 0.4);
  --shadow-2xl: 0px 4px 12px 0px hsl(0 0% 0% / 1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* @layer components {
  .glass-card {
    @apply bg-card/70 text-card-foreground ring-border/50 ring-1 backdrop-blur-xl;
  }
} */
